<div class="container">
    <div class="row">
        <h1 class="display-1">Upcoming Fixtures</h1>
    </div>
    <br>
    <% @upcoming_fixture_dates.each do |date| %>
        <div class="row">
            <h3><%=date.strftime("%A, %B %d, %Y")%></h3>
        </div>
        <ul>
            <% @fixtures_by_date[date].each do |fixture| %>

                <div class="row bg-light position-relative">
                    <p class="col-2 mt-4 ml-4 ">
                        <strong> <%= fixture.first_team.name %> </strong> 
                    </p>
                    <p class="col-1 mt-4 ps-md-0">
                        <%= image_tag(fixture.first_team.college.shield, class: "w-25") %>
                    </p>
                    <p class="col-1 mt-4 ps-md-0">
                        <%= fixture.date_time.strftime("%H:%M") %>
                    </p>
                    <p class="col-1 mt-4 ps-md-0">
                        <%= image_tag(fixture.second_team.college.shield, class: "w-25") %>
                    </p>
                    <p class="col-2 mt-4">
                        <strong> <%= fixture.second_team.name %> </strong> 
                    </p>
                    
                    <a href="<%= fixture_path(fixture) %>" class="stretched-link col offset-md-4 p-4 ps-md-0"> 
                        <span aria-hidden="true">&raquo;</span>
                    </a>

                </div>

            <% end %>
        </ul>

    <% end %>
</div>