<h1>Upcoming Fixtures</h1>

<% @upcoming_fixture_dates.each do |date| %>
    <h2><%=date%></h2>
    <ul>
        <% @fixtures_by_date[date].each do |fixture| %>

            <div>

                <p> <%= link_to fixture.name, fixture_path(fixture) %> - <%= fixture.date_time.strftime("%H:%M") %> </p>
            </div>
        <% end %>
    </ul>

<% end %>

<h1>Past Fixtures</h1>

<% @past_fixture_dates.each do |date| %>
    <h2><%=date%></h2>
    <ol>
        <% @fixtures_by_date[date].each do |fixture| %>
        
            <li> <%= fixture.name %> - <%= fixture.date_time.strftime("%H:%M") %> </li>
        
        <% end %>
    </ol>

<% end %>

<h2><%= link_to 'All Teams', teams_path %></h2>

<h2><%= link_to 'All Players', players_path %></h2>