<h1>Fixture Show Page</h1>

<table>
    <tr>
        <th><%= link_to  @team1.name, @team1 %></th>
        <td>&nbsp;</td>
        <th><%= link_to @team2.name, @team2 %></th>
    </tr>

    <tr>
        <td><%=  @team1.num_games_played %></td>
        <td>Games Played</td>
        <td><%=  @team2.num_games_played %></td>
        

    </tr>

    <tr>
        <td><%=  @team1.num_games_won %></td>
        <td>Won</td>
        <td><%=  @team2.num_games_won %></td>

    </tr>

        <td><%=  @team1.num_games_lost %></td>
        
        <td>Lost</td>
        <td><%=  @team2.num_games_lost %></td>
        

    </tr>
</table>

        
